[submodule "third_party/mlvc"]
	path = third_party/mlvc
	url = https://github.com/microsoft/mlvc.git
	shallow = true
[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
	shallow = true
